<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/index.css" />

<script>
  const internships = { features: <%- JSON.stringify(data.internships) %>}
</script>
<div class="container mainPage">
  <% internships = data.internships; %> 
  <% if (!data.message){ %>
    <h1 class="" >Profile of         <span class="profile"><%=data.author.username %> </span></h1>
    <h2 class="subTitle">Number of posts: <%= data.internships.length %></h2>
    <% }else{ %>
    <h1><%= data.message %></h1>
    <% } %>
    <%-  include('../partials/showPost')%>
    </div>
    <script src="/javascripts/clusterMap.js"></script>
    <script src="/javascripts/index.js"></script>
  </div>
  