
<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/index.css" />
<link rel="stylesheet" href="/stylesheets/statistics.css" />
<div class="alert alert-info alert-dismissible fade show " role="alert">
  Click the label of the data to hide!!!
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div>
<div  class="backgroundIndex">
  <canvas id = "BarLineChart"></canvas>
  <canvas id = "DoughnutChart"></canvas>
  <canvas id = "LineChart"></canvas>
<div class="container ">
  <div class="row d-flex justify-content-center align-items-start">
    <div class="select-box col-12 col-md text-center">
      <div class="options-container">
        <%for (let company of data.radar.keys) { %>
        <div class="option">
          <input
            type="radio"
            class="radio"
            id=<%= company %>
            name="category"
          />
          <label for=<%= company %>><%= company %></label>
        </div>
        <% } %>
      </div>
      <div class="fs-1 fs-md-2 selected">
        Select The Company
      </div>
      <div class="search-box">
        <input type="text" placeholder="Start Typing..." />
      </div>
    </div>
    <div class="select-box2 col-12 col-md text-center">
      <div class="options-container2">
        <%for (let company of data.radar.keys) { %>
        <div class="option2">
          <input
            type="radio"
            class="radio2"
            id=<%= company +'2' %>
            name="category"
          />
          <label for=<%= company+'2' %>><%= company %></label>
        </div>
        <% } %>
      </div>
      <div class="selected2">
        Select The Company
      </div>
      <div class="search-box2">
        <input type="text" placeholder="Start Typing..." />
      </div>
    </div>
  </div>
  <div class="row chartBox"></div>
  <canvas id = "RadarChart"></canvas>
</div>
  <div > <div style="position:relative; padding-top:79.5%"> <iframe style="position:absolute; top:0; left:0; width:100%; height:90%" src="https://www.zippia.com/widgets/best-states-map/software-engineer/" frameborder="no" scrolling="no"></iframe> </div> </div>
  </div>
</div>

<% if(data.internships.length!=0) {%>
  <script>
    const ChartData = {keys: <%- JSON.stringify(data.bar.keys) %>, 
      counts: <%- JSON.stringify(data.bar.counts) %>,
      averagesalary: <%- JSON.stringify(data.bar.averagesalary) %>,
      averageReview: <%- JSON.stringify(data.bar.averageReview) %>,
      labels1: <%- JSON.stringify(data.doughnut.labels1) %>,
      data1: <%- JSON.stringify(data.doughnut.data1) %>,
      radar: <%- JSON.stringify(data.radar) %>,
      line: <%- JSON.stringify(data.line) %>,
    };
  </script>
  <script src="/javascripts/chart.js"></script>
  <% } %>
  <script src="/javascripts/statistics.js"></script>